/* CENTERS THE HEADER */
header {
  margin: auto;
}

/* GENERAL NAVBAR STYLING */
.navbar {
  font-size: 20px;
  padding-right: 10px;
  padding-left: 10px;
}

/* CENTERS THE BODY */
body {
  margin: auto;
  text-align: center;
}

/* ADDS PADDING UNDER H1 */
h1 {
  padding-bottom: 10px;
}

/* ADDS MARGIN ABOVE START BTN */
#startBtn {
  margin-top: 10px;
}

/* GENERAL STYLING FOR QUESTION CLASS */
.question {
  margin: auto;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}

/* THIS STYLES THE ANSWERS TO EACH QUESTION OF THE QUIZ */
.questionBtn {
  padding: 0;
  margin:0;
  margin-bottom: 10px;
  width: 60vw;
  max-width: 400px;

  text-align: start;
  padding-left: 10px;
  padding-right: 10px;
}

/* THIS IS THE LINE ABOVE THE SUCFAIL TEXT */
#divLine {
  margin: auto;
  margin-top: 10px;
  background-color: hsl(0, 0%, 0%,.5);
  height: 3px;
  width: 45vw;
  max-width: 300px;
  align-self: auto;
}

/* ADD MARGIN ABOVE SUCFAIL TEXT */
#successFailureText {
  margin-top: 10px;
}

/* STYLES THE BOX WHERE YOU ENTER INITIALS */
#initialEntryBox {
  display: inline-block;
  width:250px;
}

/* THIS IS THE DIV CONTAINING THE ENTRY BOX AND BUTTON */
#initialEntryBoxDiv  {
  margin: auto;
  margin-top: 10px;
  display: inline-block;
}

/* GENERAL STYLING ON THE INITIAL ENTRY BTN */
#initialEntryBtn {
  margin-top: -4px;
  display: inline-block;
}

/* MAKE HIGHSCORE BTN SAME STYLE AS TIMER */
#scoreBtn {
  font-size: 20px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: rgba(240, 248, 255, 0);
  border-color: rgba(240, 248, 255, 0);
  color: black;
  font-weight:500;
}

/* GETS RID OF BACKGROUND ON MODAL "X" BUTTON */
.close {
  background-color: rgba(240, 248, 255, 0);
  border-color: rgba(240, 248, 255, 0);
}

/* REDUCE OPACITY OF SCORE BTN ON HOVER */
#scoreBtn:hover {
  color:rgba(0, 0, 0, 0.6);
}


/* HIDE SECTIONS - ALL BUT START SCREEN */
#questionBlock {
  display: none;
}
#sucFail {
  display: none;
}
#endscreen {
  display: none;
}